<a href="https://colab.research.google.com/github/mefy-Aruna/Face-App/blob/master/Classifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [99]:
df = pd.read_csv(r'KNN_dataset.csv')

In [11]:
df

       0  0.0  56.0   3.5  ...        50.0        17.0       207.0  1.0
0      1  0.0  72.0   4.6  ...   68.675596   41.478343  275.919817  1.0
1      2  0.0  72.0  16.5  ...   80.000000   42.000000  651.000000  1.0
2      3  0.0  77.0   4.9  ...  187.820464  198.913673  340.157876  1.0
3      4  0.0  77.0   3.0  ...   56.314318   40.091000  220.000000  1.0
4      5  0.0  74.0   5.3  ...   68.805692   27.000000  117.000000  1.0
..   ...  ...   ...   ...  ...         ...         ...         ...  ...
272  273  1.0  40.0   5.6  ...   78.000000   20.000000  244.218394  0.0
273  274  0.0  26.0   4.7  ...  110.000000   93.000000  175.000000  0.0
274  275  1.0  44.0  15.7  ...   99.147738   36.355230  272.000000  0.0
275  276  1.0  41.0  12.0  ...  201.000000   14.000000  266.000000  0.0
276  277  0.0  53.0  17.9  ...   81.998967   32.051869  258.000000  0.0

[277 rows x 17 columns]

In [100]:
x = df.iloc[:, 1:16].values
y = df.iloc[:, 16].values

In [92]:
x

array([[  0.        ,  72.        ,   4.6       , ...,  68.67559572,
         41.47834349, 275.91981709],
       [  0.        ,  72.        ,  16.5       , ...,  80.        ,
         42.        , 651.        ],
       [  0.        ,  77.        ,   4.9       , ..., 187.82046422,
        198.91367303, 340.15787572],
       ...,
       [  1.        ,  44.        ,  15.7       , ...,  99.14773818,
         36.35523013, 272.        ],
       [  1.        ,  41.        ,  12.        , ..., 201.        ,
         14.        , 266.        ],
       [  0.        ,  53.        ,  17.9       , ...,  81.99896681,
         32.0518687 , 258.        ]])

In [ ]:
######### KNN IMPUTED DATASET


////////////////////////////

In [31]:
#@title CLASSIFIER1:KNN

In [119]:
# Train Test Split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [120]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [130]:
# Preprocessing

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [131]:
KNNclassifier = KNeighborsClassifier(n_neighbors = 7)
KNNclassifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [132]:
y_pred = KNNclassifier.predict(x_test)

In [133]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('KNN acc:',accuracy_score(y_test, y_pred))

[[11  8]
 [ 4 33]]
              precision    recall  f1-score   support

         0.0       0.73      0.58      0.65        19
         1.0       0.80      0.89      0.85        37

    accuracy                           0.79        56
   macro avg       0.77      0.74      0.75        56
weighted avg       0.78      0.79      0.78        56

KNN acc: 0.7857142857142857

In [117]:
#@title CLASSIFIER 2:DECISION TREE

In [107]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [134]:
from sklearn.tree import DecisionTreeClassifier
Decclassifier = DecisionTreeClassifier(criterion="entropy", max_depth = 2)
Decclassifier

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [135]:

Decclassifier.fit(x_train,y_train)
y_pred = Decclassifier.predict(x_test)

In [137]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, y_pred))

DecisionTrees's Accuracy:  0.7142857142857143